# Mac
.DS_Store

# Terraform
.terraform

# Python
*.egg-info
*.pyc
.tox
.coverage
.coverage.*
coverage.xml
.coveralls.yml
.eggs
.cache
.pytest_cache
.python-version
.venv
*.ipynb*

# Chalice
**/.chalice/deployments/
**/.chalice/venv/

# Artifacts
/build/
/dist/
/docs/_build/
/htmlcov/

# JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.idea/
.vscode/

# Secrets
*secret*
*credentials*
service-account.json
.env