# Mac
.DS_Store

# Terraform
.terraform

# Python
*.egg-info
*.pyc
.tox
.coverage
.coverage.*
coverage.xml
.coveralls.yml
.eggs
.cache
.pytest_cache
.python-version
.venv
*.ipynb*

# Chalice
app/.chalice/deployments/
app/.chalice/venv/

# Artifacts
/build/
/dist/
/docs/_build/
/htmlcov/

# Editors
.idea/
.vscode/

# Secrets
*secret*
*credentials*
service-account.json
.env